.projectsSection {
  width: 100%;
  max-width: 850px;
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
  padding: 2rem 1rem 2rem 1rem;
}
.projectsCard {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 400px;
  
  border-radius: 25px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 40px 34px -16px rgba(0, 0, 0, 0.08),
    0px 6px 4px -4px rgba(0, 0, 0, 0.06), 
    0px 16px 16px -8px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.projectPicture{
  background-color: var(--dominant);
}

.projectDescription {
  padding: 1rem;
}
.chevron {
  height: 2rem;
}
.chevron path {
  fill: #6C6C6C;
}

.chevronLeft, .chevronRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.chevronLeft{
  left: -3rem;
  
}
.chevronRight {
  right: -3rem;
}

@media screen and (max-width: 700px){
  .projectsSection{
    padding-top: 1rem;
    overflow-y: hidden;
  }
  .projectsCard {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    padding-bottom: 3rem;
  }
  .chevronLeft {
    left: 2.5rem;
  }
  .chevronRight {
    right: 2.5rem;
  }
  .chevronLeft, .chevronRight {
    top: initial;
    bottom: 3rem;
    transform: initial;
  }
}
