.skillsSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "a c"
    "b c"
}
.icon {
  display: inline;
  height: 2rem;
  margin-right: 1rem;
}
.iconShape{
  fill: var(--secondary)
}
.detailsContent {
  max-height: 11rem;
  overflow-y: scroll;
}
.details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

@media screen and (max-width: 700px){
  .skillsSection {
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "c"
    "b";
  }
  .detailsContent {
  max-height: initial;
  overflow-y: scroll;
}
}