.contrast {
  filter: contrast(20)
}
/* .blur {
    animation: letterspacing 1.2s infinite alternate cubic-bezier(.2, 0, 0, 1);
} */
/* @keyframes letterspacing {
  0% {
    letter-spacing: -2rem;
    filter: blur(0.5rem);
  }
  
  100% {
    letter-spacing: initial;
    filter: blur(0);
  }
} */

.blurredState {
  transition: all 1.2s cubic-bezier(.95,.01,.73,1);
  letter-spacing: -2rem;
    filter: blur(0.5rem);
}
.normalState {
  transition: all 1.2s   cubic-bezier(.2,0,0,1);
  letter-spacing: initial;
    filter: blur(0);
}
@media (max-width: 672px) {
  .blurredState {
    letter-spacing: -1rem;
  }
}

