/* ====================================================== */
/* ========= Remove the annoying default styles ========= */
/* ====================================================== */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary);
  background-color: var(--dominant);
}
* {
  box-sizing: border-box;
}

button,
input[type='submit'],
input[type='reset'],
summary {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
  list-style-type: '-  ';
  padding-left: 0.8rem;
}

/* textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;

  resize: none;
} */

/* ====================================================== */
/* =================== Add some colors ================== */
/* ====================================================== */

/*
1. Start with a main color and go to https://mycolor.space/
2. Go to https://picular.co/forest for thematic colors
3. Go to https://dribbble.com/shots/popular/web-design for inspiration
4. Go to https://colorsinspo.com/
*/

:root {
  --dominant: #da22ff; /* For the background, 60%*/
  --secondary: white; /* For the main elements, 30%*/
  --accent: #9733ee; /* For little things that you want to stand out, 10% */

  /* --secondary-2: #FFD563;
  --secondary-3: #F8B500; */

  /*Colors with semantic value, use only if necessary*/
  /* --success: #b8b42d;
  --info: #30bced;
  --failure: #ff0340; */
}

/* ====================================================== */
/* =================== Add some fonts =================== */
/* ====================================================== */

/* Go to https://type-scale.com/ */

@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

html {
  font-size: 110%;
} /*16px*/

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 140%;
}

p, ul {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  margin-top: 1rem;
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.7rem;
  line-height: 140%;
  color: #6c6c6c;
}
.inverted {
  color: black;
}

/* Custom selection color*/
*::selection {
  background: var(--dominant);
  color: var(--secondary);
}
/*Smart quotes */
q {
  quotes: '“' '”';
}

/* ====================================================== */
/* =============== Utility global classes =============== */
/* ====================================================== */

/*Text*/
.text-center {
  text-align: center;
}
.text-accent {
  color: var(--dominant);
  background: linear-gradient(to left, var(--accent), var(--dominant));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Positioning*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-center {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}
.absolute-center--horizontal {
  left: 50%;
  transform: translateX(-50%);
}
.glass-effect {
  backdrop-filter: saturate(180%) blur(20px);
}

/* ====================================================== */
/* ==================== Media queries =================== */
/* ====================================================== */

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.563rem;
  }
}
